.container { 
  margin: 0 auto;
  width: 93%;
  max-width: 1600px;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "card1 card1 card2 card3"
    "card1 card1 card4 card5"
    "card6 card7 card10 card10"
    "card8 card9 card10 card10"
    "card11 card11 card12 card13"
    "card11 card11 card14 card15";
    @media (max-width:1000px) {
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
      gap: 20px 20px; 
      grid-template-areas: 
        "card1 card1 card2"
        "card1 card1 card3"
        "card5 card4 card4"
        "card6 card4 card4"
        "card7 card7 card8"
        "card7 card7 card9"
        "card11 card10 card10"
        "card12 card10 card10"
        "card13 card13 card14"
        "card13 card13 card15"

        ; 
    }
}

.card2 { grid-area: card2; }

.card3 { grid-area: card3; }

.card1 { grid-area: card1; }

.card4 { grid-area: card4; }

.card5 { grid-area: card5; }

.card6 { grid-area: card6; }

.card10 { grid-area: card10; }

.card7 { grid-area: card7; }

.card8 { grid-area: card8; }

.card9 { grid-area: card9; }

.card11 { grid-area: card11; }

.card12 { grid-area: card12; }

.card13 { grid-area: card13; }

.card14 { grid-area: card14; }

.card15 { grid-area: card15; }

.card{
  background-color: gray;
  min-height: auto;
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid black;
  font-size: 25px;
  font-weight: 900;
  
}